/* 
   CSS Guide 

   1.  General Styles
   2.  Main header
   3.  team members
   4.  Video
   5.  About us
   6.  Our story
   7.  Product content
   8.  Promo con
   9.  Closing
   10. Footer
   11. Tablet Queries
   12. Desktop Queries 
 */


 /* 1. ---General Styles--- */

 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

 body {
    font-family: 'Fino Sans', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    background-color: #fff;
 }

 .hidden {display: none;}
 
 html {
      font-size: 100%;
   }

img {
      display: block;
      max-width: 100%;
   }

p {
   text-align: center;
}
 /* 2. ---Main header Nav--- */
 
   
   header {
      background-color: #ffffff;
      height: 3.75rem;
      position: sticky;

      filter:drop-shadow(0rem 0.1875rem 0.3125rem rgba(221, 219, 204, 0.867)) ;
   }
   
   #main-nav{
      height: 3.75rem;
      position: absolute;
      z-index: 1;
   }
   
   #main-logo{
      position: absolute;
      z-index: 2;
      width: 6.25rem;
      height: 4.8125rem;

      justify-self: center;
   
      margin-top: 1.25rem;
   }
   
   #main-logo:hover {
      transform: scale(1.2);
      transition: all 0.3s ease-out;
   }
   
   
   #main-nav button {
      width: 1.25rem;
      height: 1.25rem;
      background: url(../images/burger-icon.svg) no-repeat center;
      margin-top: 0.9375rem;
      margin-bottom: 1.25rem;
      transition: all .5s ease;
      border: 0;
      grid-column: 3/4;
      margin: auto;
      margin-right: 1.25rem;
   
      height: 2.1875rem;
      width: 2.1875rem;
      
   }
   
   
   #main-nav button.expanded {
      transform: rotate(90deg);
   
      position: absolute;
      z-index: 100;
   }
   
   #burger-con {
      display: none;
   }
   
   #burger-con.slide-toggle {
      display: block;
   
      height: 100vh;
      width: 100vw;
      background-color: #110F3D;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
   }
   
   #main-nav ul {
      list-style: none;
      padding: 0;
      margin: 9.375rem 0 0 0;
   }
   
   #main-nav ul li a {
      display: block;
      padding: 0.625rem 0 0.625rem 0;
   
      margin-bottom: 1.25rem;
      margin-right: 1.875rem;
      text-align: right;
      color: #ffffff;
      font-size: 1.625rem;
   
      text-decoration: none;
   }
   
   #main-nav ul li a:hover {
      color: #F7B92E;
   }
   
   #main-nav ul li:last-child {
      margin-bottom: 0.625rem;
   }
   

 
 /* 3. ---team members--- */
 
 .container {
   max-width: 75rem;
   margin-inline: auto;
   padding: 6.25rem 0.9375rem;
 }


#meet-the-team {
    height: 6.25rem;
    width: 31.25rem;
    border-radius: 1rem;
    font-size: 2rem;
    text-align: center;
    justify-items: center;
    background-color: #F7B92E;
    padding: 1.875rem 1.875rem 1.875rem 1.875rem;
    margin-top: 1.25rem;
    margin-bottom: 3.125rem;
    margin-left: auto;
    margin-right: auto;
 }

.gallery-wrapper {
   display: flex;
 }

.gallery-item {
   position: relative;
   isolation: isolate;

   display: flex;
   flex: 1;
   height: 31.25rem;

   background-color: #000;
   padding: 1.5625rem;
   opacity: 1;
   overflow: hidden;
   transition: flex .5s, opacity 0.25s;

   width: 100%;
   height: 100%;
}

.gallery-item:hover {
   opacity: 1;
   flex: 3;
}

.gallery-item:not(:hover){
   opacity: 0.75;
 }

 .item-image {
   position: absolute;
   top: 0;
   right: 0;
   z-index: -1;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }


#team-desc {
    color: #78150D;
    display: flex;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 1.25rem;
    margin-bottom: 6.25rem;
    padding: 0 3.125rem 0 3.125rem;
 }



 .item-description {
   align-self: flex-end;
   text-transform: uppercase;
   color: #fff;
 }

 .name {
   font-size: 2.3125rem;
   background: linear-gradient(90deg,#f32d5b,#ff009b);
   padding-inline: 0.625rem;
   transform: translateY(-0.625rem);
 }

 .role {
   display: inline-block;
   background: linear-gradient(90deg,#4136d9,#0086c7);
   padding: 0.625rem;
   box-shadow: 0 0.0625rem 0.625rem rgba(0, 0, 0, 0.2);
   transform: translateY(0.625rem);
 }

 .name,
 .role {
   opacity: 0;
   transition: opacity 0.25s, transform 0.3s;
   transition-delay: .35s;
 }

 .gallery-item:hover .name,
 .gallery-item:hover .role {
   opacity: 1;
   transform: translateY(0);
 }

 .gallery-item:not(:hover) .name,
 .gallery-item:not(:hover) .role {
   transition-delay: 0s;
 }

 .gallery-wrapper{
   flex-direction: column;
   height: 100vh;
 }
 
 .gallery-item:hover {
   flex-basis: 100%;
 }


 #banner-divider{
    height: 12rem;
    margin-top: 12.5rem;
 }
 
 
 

 #inspi-quote {
    color: #78150D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    height: 25rem;
    padding: 2rem;
 }

 /* ======================== */

 .lightbox { 
   width: 100vw; 
   height: 100vh; 

   position: absolute;
   top: 0;
   left: 0;

   background-color: rgba(0, 0, 0, 0.85);
   background-repeat: no-repeat;

   background-size: 55vh; 
   background-position: 2.5rem bottom;

   z-index: 5000;

   display: none;   
   margin-top: 1.25rem;
}


.lightbox_close {
   position: relative;
   top: 1.25rem;
   left: 85%;

   color: white;
   font-size: 3em;

   text-decoration: none;

   font-weight: bolder;
   z-index: 5002;
}

.lightbox_close:hover { color: #F7B92E; }


.lightbox article {
   width: 55%;
   margin-left: 40%;
   padding-top: 3.125rem;

   color: #fff;

   margin-top: 1.25rem;
}

.lb_text, .lb_text2, .lb_heading { text-align: left; }

.lb_text, .lb_text2 {
   font-family: Helvetica, sans-serif;
   font-style: italic;
   font-weight: 300;
   line-height: 1.6 !important;
   margin-left: 0;
   padding-top: 2em;
   font-size: 1.25rem;
}

.lb_heading {
   font-size: 2rem;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }
 


 /* 10. ---Footer--- */
 

 footer {
      height: 56.25rem;
      background-color:#110F40;
   }


   #footer-logo {
      width: 20rem;
      padding-left: 1rem;
      margin-top: 5rem;
   }
   
   #contact-form {
      margin-top: 5rem;
      font-size: 0.625rem;
      text-align: center;
   }
   
   
   #contact-form input {
      width: 14.375rem;
      display: flex;
   
      border: none;
      border-radius: 0;
      border-bottom: 0.0625rem solid #fff;
      font-style: italic;
   
      margin-bottom: 1.875rem;
      background-color: #110F40;
   
      color: #fff;
   
      padding-bottom: 0.9375rem;
   }
   
   #contact-form button {
      margin-left: 8.125rem;
   }
   
   #contact-form input:focus {
      outline: none !important;
   }
   
   #send_footer {
      border-radius: 2.5rem;
      background-color: #fff;
      align-items: center;
      font-style: italic;
   
      cursor: pointer;
      padding: 0.625rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
   }
   
   
   #send_footer:hover {
      box-shadow: inset 0rem -3.125rem 0rem 0rem #FFC738;
      transition:all .8s ease;
   }
   
   #send_footer span {
      color: #110F40;
      margin: 0.625rem;
   }
   
   #info-con {
      color: #fff;
      grid-column: 2/7;
      margin-left: 0.625rem;
   }
   
   #info-con h3 {
      font-size: 2rem;
      font-weight: 700;
      font-style: normal;
      margin-top: 2.5rem;
      margin-bottom: 1.875rem;
   }
   
   #info-con span {
      display: block;
      margin-bottom: 0.625rem;
   }
   
   #sm-icons {
      display: flex;
      height: 1.5625rem;
   
      grid-column: 2/4;
      margin-left: 0.625rem;
      margin-top: 1.25rem;
   }
   
   #sm-icons img {
      margin-right: 0.625rem;
   }
   
   #ver-line {
      grid-column: 2/12;
      border-bottom: solid 0.0625rem #fff;
      
      margin-top: 1.875rem;
      margin-bottom: 1.875rem;
   }
   
   #ver-line span {
      color: #fff;
      font-size: 0.9375rem;
   
      padding-bottom: 1.25rem;
   }
   
 
 
 /* ---Tablet Queries--- */



 @media screen and (min-width: 48rem) { 

      html {
            font-size: 120%;
      }

      header {
            background-color: #ffffff;
            height: 4.6875rem;
      }


      #main-nav {
            height: 4.6875rem;
            position: sticky;
      }

      #main-logo {
         width: 9.375rem;
         height: 6.25rem;
      }


      footer {
            height: 50rem;
      }
      
      #footer-logo {
            width: 20rem;
            height: 100%;
      
            margin-top: 4.375rem;

            display: flex;

            justify-self: center;
      }
      
      #contact-form {
      grid-column: 8/-1;
      grid-row: 1/4;
      }

      #meet-the-team {
         margin-top: 1.875rem;
      }

      .gallery-wrapper{
         flex-direction: column;
         height: 100vh;


      }

      .gallery-item:hover {
         flex-basis: 100%;
      }

      .lightbox_close {
         left: 90%;
      }
}



 /* ---Desktop Queries --- */

@media screen and (min-width: 75rem) { 

      html {
         font-size: 130%;
      }
   
   
      header {
            background-color: #ffffff;
            height: 4.375rem;
      }
   
   
      #main-header {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 1.25rem;
         justify-content: center;
      }
   
      #main-nav {
         height: 5.625rem;
   
         position: sticky;
         top: 1rem;
         
         align-items: flex-start;
   
         z-index: 1;
         flex: 1;
      }
   
   
      #button {display: none;}
   
      
      #burger-con {
         display: block;
         font-size: 0.75rem;
   
         margin-top: 1.25rem;
         margin-bottom: 0rem;
   
         display: grid;
         grid-column: 2/11;
      }
   
      #burger-con ul li {
         display: inline;
         margin-right: 3rem;
      }
   
      #main-nav ul {
         margin: 0;
         margin-top: 0.625rem;
         display: inline-flex;
      }
   
      #main-nav ul li a {
         display: inline;
         color: #110F3D;
   
         font-size: 1.2rem;
      }
   
   
      #main-nav ul li a:hover {
         color: #78150D
      }

      #main-nav ul li:nth-child(4) {
         margin-left: 10.25rem;
      }
   
   
   
      #burger-con.slide-toggle {
         height: auto;
         width: auto;
         background: none;
         z-index: auto;
   
         position: static;
      }
   
   
   
      #main-logo {
         height: 7rem;
         width: 9rem;
   
         z-index: 3;
   
         margin-top: 6rem;
         order: -1;
      }

      .gallery-wrapper{
         flex-direction: row;
         height: 100vh;
      }

      .gallery-item:hover {
         flex-basis: 20%;
      }

      .lightbox {
         background-image: url('../images/1-member.png');
         background-size: 40vh; 
         background-position: 30px center;
      }

      .lightbox_close {
         left: 90%;
      }
   

      footer {
            height: 45rem;
      }
      
      #footer-logo {
            width: 20rem;
            height: 100%;
      
            margin-top: 4.375rem;
      }
      
      
      #info {
            width: 13.25rem;
            height: 8.25rem;
      }
      
      #icons{
            height: 1.6875rem;
            width: 6.5625rem;
      }
      
      #contact-form {
            /* display: block; */
            margin-top: 12.5rem;
   
            grid-row: 1/3;
      }
   
      #contact-form input {
         width: 20.4rem;
      }
   
   #send_footer {
         border-radius: 2.5rem;
         background-color: #fff;
         align-items: center;
         font-style: italic;
   
         cursor: pointer;
         padding: 0.625rem;
         padding-left: 1.25rem;
         padding-right: 1.25rem;
   }
   
   
   #send_footer:hover {
         box-shadow: inset 0rem -3.125rem 0rem 0rem #FFC738;
         transition:all .8s ease;
   }
   
   #send_footer span {
         color: #110F40;
         margin: 0.625rem;
   }
   
   #info-con {
         color: #fff;
         grid-column: 2/8;
         margin-left: 0.625rem;
   }
   
   #info-con h3 {
         font-weight: 700;
         font-style: normal;
         margin-bottom: 1.25rem;
   }
   
   #info-con span {
         margin-bottom: 0.9375rem;
   }
   
   #sm-icons {
         display: flex;
         height: 1.5625rem;
   
         grid-column: 2/4;
         margin-left: 0.625rem;
         margin-top: 0rem;
   }
   
   #sm-icons img {
         margin-right: 0.625rem;
   }
   
   #ver-line {
         grid-column: 2/12;
         border-bottom: solid 0.0625rem #fff;
         
         margin-top: 1.875rem;
         margin-bottom: 1.875rem;
   }
   
   #ver-line span {
         color: #fff;
         font-size: 0.9375rem;
   
         padding-bottom: 1.25rem;
   }

 
 
 }
 
 
 @media screen and (min-width: 120rem) { 
    header {
          height: 6.875rem;
    }
 
    #main-nav {
          height: 6.875rem;
    }
 
    #burger-con {display: none;}
 
    #main-logo {
          height: 8.125rem;
          width: 10rem;
    }
 
 
    #banner-divider{
      height: 12rem;
    }


    footer {
    height: 45rem;;
    background-color: #110F3D;
    }
    
    #footer-logo {
          width: 20rem;
          height: 100%;
    
          margin-top: 4.375rem;
    }
    
    
    #info {
          width: 13.25rem;
          height: 8.25rem;
    }
    
    #icons{
          height: 1.6875rem;
          width: 6.5625rem;
    }
    
    #contact-form {
          /* display: block; */
          margin-top: 12.5rem;
 
          grid-row: 1/3;
    }
    
    #cont-f-1, #cont-f-2 {
          height: 1.875rem;
          width: 14.5rem;
          margin-bottom: 1.875rem;
    }
    
    #cont-f-4, #cont-f-3 {
          height: 3.75rem;
          width: 30.25rem;
    }
    
    #submit-button {
          height: 1.875rem;
          width: 6.25rem;
    }

    footer {
      height: 45rem;
}

#footer-logo {
      width: 20rem;
      height: 100%;

      margin-top: 4.375rem;
}


#info {
      width: 13.25rem;
      height: 8.25rem;
}

#icons{
      height: 1.6875rem;
      width: 6.5625rem;
}

#contact-form {
      /* display: block; */
      margin-top: 12.5rem;

      grid-row: 1/3;
}

#contact-form input {
   width: 20.4rem;
}

#send_footer {
   border-radius: 2.5rem;
   background-color: #fff;
   align-items: center;
   font-style: italic;

   cursor: pointer;
   padding: 0.625rem;
   padding-left: 1.25rem;
   padding-right: 1.25rem;
}


#send_footer:hover {
   box-shadow: inset 0rem -3.125rem 0rem 0rem #FFC738;
   transition:all .8s ease;
}

#send_footer span {
   color: #110F40;
   margin: 0.625rem;
}

#info-con {
   color: #fff;
   grid-column: 2/7;
   margin-left: 0.625rem;
}

#info-con h3 {
   font-weight: 700;
   font-style: normal;
   margin-bottom: 1.25rem;
}

#info-con span {
   margin-bottom: 0.9375rem;
}

#sm-icons {
   display: flex;
   height: 1.5625rem;

   grid-column: 2/4;
   margin-left: 0.625rem;
   margin-top: 1.25rem;
}

#sm-icons img {
   margin-right: 0.625rem;
}

#ver-line {
   grid-column: 2/12;
   border-bottom: solid 0.0625rem #fff;
   
   margin-top: 1.875rem;
   margin-bottom: 1.875rem;
}

#ver-line span {
   color: #fff;
   font-size: 0.9375rem;

   padding-bottom: 1.25rem;
}

.gallery-wrapper{
   flex-direction: row;
   height: 100vh;
 }
 
 .gallery-item:hover {
   flex-basis: 100%;
 }
    
 
 }