/* 
   CSS Guide 

   1.  General Styles
   2.  Main header
   3.  team members
   4.  Video
   5.  About us
   6.  Our story
   7.  Product content
   8.  Promo con
   9.  Closing
   10. Footer
   11. Tablet Queries
   12. Desktop Queries 
 */


 /* 1. ---General Styles--- */

 body {
    font-family: 'Fino Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #fff;
 }
 
 .box-1 {
    background-color: #e9e9e9;
 }
 .box-2 {
    background-color: #F7B92E;
 }
 .box-3 {
    background-color: #EBEBEB;
 }
 .box-4 {
    background-color: #C4C4C4;
 }
 
 .box-5 {
    background-color: #C4C4C4;
 }

 .box-6 {
    background-color: #ffffff00;
 }

 .hidden {display: none;}
 
 
 
 
 /* 2. ---Main header Nav--- */
 
 
 html {
      font-size: 100%;
   }
   
   
   header {
      background-color: #ffffff;
      height: 3.75rem;
      position: sticky;
   }
   
   #main-nav{
      height: 3.75rem;
      position: absolute;
      z-index: 1;
   }
   
   #main-logo{
      position: absolute;
      z-index: 2;
      width: 6.25rem;
      height: 4.8125rem;

      justify-self: center;
   
      margin-top: 1.25rem;
   }
   
   #main-logo:hover {
      transform: scale(1.2);
      transition: all 0.3s ease-out;
   }
   
   
   #main-nav button {
      width: 1.25rem;
      height: 1.25rem;
      background: url(../images/burger-icon.svg) no-repeat center;
      margin-top: 0.9375rem;
      margin-bottom: 1.25rem;
      transition: all .5s ease;
      border: 0;
      grid-column: 3/4;
      margin: auto;
      margin-right: 1.25rem;
   
      height: 2.1875rem;
      width: 2.1875rem;
      
   }
   
   
   #main-nav button.expanded {
      transform: rotate(90deg);
   
      position: absolute;
      z-index: 100;
   }
   
   #burger-con {
      display: none;
   }
   
   #burger-con.slide-toggle {
      display: block;
   
      height: 100vh;
      width: 100vw;
      background-color: #110F3D;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
   }
   
   #main-nav ul {
      list-style: none;
      padding: 0;
      margin: 9.375rem 0 0 0;
   }
   
   #main-nav ul li a {
      display: block;
      padding: 0.625rem 0 0.625rem 0;
   
      margin-bottom: 1.25rem;
      margin-right: 1.875rem;
      text-align: right;
      color: #ffffff;
      font-size: 1.625rem;
   
      text-decoration: none;
   }
   
   #main-nav ul li a:hover {
      color: #F7B92E;
   }
   
   #main-nav ul li:last-child {
      margin-bottom: 0.625rem;
   }
   
   
   
   /* 3. ---Main hero--- */
   
   
   #hero-img1 {
      object-fit: cover;
      width: 20rem;
      height: 21.0625rem;
      padding: 0;
      margin: 0;
   }
   
   #hero-img2 {
      object-fit: cover;
      width: 20rem;
      height: 21.0625rem;
      padding: 0;
      margin: 0;
   }
   
   #hero-text {
      height: 18.125rem;
      background-color: #F7B92E;
      padding: 2.5rem;
   
      display: flex;
      justify-items: center;
   }
   
   #hero-text h4 {
      font-size: 1.875rem;
      text-align: center;
   
      margin-top: 3.75rem;
   }
 
 
 
 /* 3. ---team members--- */
 
 
#meet-the-team {
    height: 108px;
    border-radius: 1rem;
    font-size: 2rem;
    text-align: center;
    background-color: #F7B92E;
    padding: 30px 30px 30px 30px;
    margin-top: 200px;
    margin-bottom: 50px;
 }

#team-desc {
    font-family: Arial, Helvetica, sans-serif;
    color: #78150D;
    display: flex;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 70px;
    padding: 0 50px 0 50px;
 }
/* 
 #team-mem1 {
    object-fit: cover;
    height: 597px;
    padding: 0;
    margin: 0;
 }
 
 #team-mem2 {
    object-fit: cover;
    height: 597px;
    padding: 0;
    margin: 0;
 }

 
 #team-mem3 {
    object-fit: cover;
    height: 597px;
    padding: 0;
    margin: 0;
 }
  */


  .gallery-item {
  position: relative;
  isolation: isolate;
  display: flex;
  flex: 1;
  height: 500px;
  background-color: #000;
  padding: 25px;
  opacity: 1;
  overflow: hidden;
  transition: flex 0.5s, opacity 0.25s;
}

.gallery-item:hover {
   opacity: 1;
   flex: 5;
}

.gallery-item:not(:hover){
   opacity: 0.75;
 }

 .item-description {
   align-self: flex-end;
   text-transform: uppercase;
   color: #fff;
 }

 .name {
   font-size: 37px;
   background: linear-gradient(90deg,#f32d5b,#ff009b);
   padding-inline: 10px;
   transform: translateY(-10px);
 }

 .role {
   display: inline-block;
   background: linear-gradient(90deg,#4136d9,#0086c7);
   padding: 10px;
   box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
   transform: translateY(10px);
 }

 .name,
 .role {
   opacity: 0;
   transition: opacity 0.25s, transform 0.3s;
   transition-delay: .35s;
 }

 .gallery-item:hover .name,
 .gallery-item:hover .role {
   opacity: 1;
   transform: translateY(0);
 }

 .gallery-item:not(:hover) .name,
 .gallery-item:not(:hover) .role {
   transition-delay: 0s;
 }

 #banner-divider{
    height: 192px;
    margin-top: 200px;
 }
 
 
 

 #inspi-quote {
    color: #78150D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    height: 400px;
    padding: 2rem;

 }
 
 /* 10. ---Footer--- */
 

 footer {
      height: 56.25rem;
      background-color:#110F40;
   }


   #footer-logo {
      width: 20rem;
      padding-left: 1rem;
      margin-top: 5rem;
   }
   
   #contact-form {
      margin-top: 5rem;
      font-size: 0.625rem;
      text-align: center;
   }
   
   
   #contact-form input {
      width: 14.375rem;
      display: flex;
   
      border: none;
      border-radius: 0;
      border-bottom: 0.0625rem solid #fff;
      font-style: italic;
   
      margin-bottom: 1.875rem;
      background-color: #110F40;
   
      color: #fff;
   
      padding-bottom: 0.9375rem;
   }
   
   #contact-form button {
      margin-left: 8.125rem;
   }
   
   #contact-form input:focus {
      outline: none !important;
   }
   
   #send_footer {
      border-radius: 2.5rem;
      background-color: #fff;
      align-items: center;
      font-style: italic;
   
      cursor: pointer;
      padding: 0.625rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
   }
   
   
   #send_footer:hover {
      box-shadow: inset 0rem -3.125rem 0rem 0rem #FFC738;
      transition:all .8s ease;
   }
   
   #send_footer span {
      color: #110F40;
      margin: 0.625rem;
   }
   
   #info-con {
      color: #fff;
      grid-column: 2/7;
      margin-left: 0.625rem;
   }
   
   #info-con h3 {
      font-size: 2rem;
      font-weight: 700;
      font-style: normal;
      margin-top: 2.5rem;
      margin-bottom: 1.875rem;
   }
   
   #info-con span {
      display: block;
      margin-bottom: 0.625rem;
   }
   
   #sm-icons {
      display: flex;
      height: 1.5625rem;
   
      grid-column: 2/4;
      margin-left: 0.625rem;
      margin-top: 1.25rem;
   }
   
   #sm-icons img {
      margin-right: 0.625rem;
   }
   
   #ver-line {
      grid-column: 2/12;
      border-bottom: solid 0.0625rem #fff;
      
      margin-top: 1.875rem;
      margin-bottom: 1.875rem;
   }
   
   #ver-line span {
      color: #fff;
      font-size: 0.9375rem;
   
      padding-bottom: 1.25rem;
   }
   
   
 
 
 
 
 /* 11. ---Tablet Queries--- */



 @media screen and (min-width: 48rem) { 

      html {
            font-size: 120%;
      }

      header {
            background-color: #ffffff;
            height: 4.6875rem;
      }


      #main-nav {
            height: 4.6875rem;
            position: sticky;
      }


      footer {
            height: 50rem;
      }
      
      #footer-logo {
            width: 20rem;
            height: 100%;
      
            margin-top: 4.375rem;

            display: flex;

            justify-self: center;
      }
      
      #contact-form {
      grid-column: 8/-1;
      grid-row: 1/4;
      }

      .gallery-wrapper{
         flex-direction: column;
         height: 100vh;
       }
       
       .gallery-item:hover {
         flex-basis: 100%;
       }
}



 /* 12. ---Desktop Queries --- */
 
 @media screen and (min-width: 75rem) { 

      html {
         font-size: 130%;
      }
   
   
      header {
            background-color: #ffffff;
            height: 4.375rem;
      }
   
   
      #main-header {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 1.25rem;
         justify-content: center;
      }
   
      #main-nav {
         height: 5.625rem;
   
         position: sticky;
         top: 1rem;
         
         align-items: flex-start;
   
         z-index: 1;
         flex: 1;
      }
   
   
      #button {display: none;}
   
      
      #burger-con {
         display: block;
         font-size: 0.75rem;
   
         margin-top: 1.25rem;
         margin-bottom: 0rem;
   
         display: grid;
         grid-column: 2/11;
      }
   
      #burger-con ul li {
         display: inline;
         margin-right: 3rem;
      }
   
      #main-nav ul {
         margin: 0;
         margin-top: 10px;
         display: inline-flex;
      }
   
      #main-nav ul li a {
         display: inline;
         color: #110F3D;
   
         font-size: 23px;
      }
   
   
      #main-nav ul li a:hover {
         color: #78150D
      }

      #main-nav ul li:nth-child(4) {
         margin-left: 10.25rem;
      }
   
   
   
      #burger-con.slide-toggle {
         height: auto;
         width: auto;
         background: none;
         z-index: auto;
   
         position: static;
      }
   
   
   
      #main-logo {
         height: 8.125rem;
         width: 10rem;
   
         z-index: 3;
   
         margin-top: 6rem;
         order: -1;
      }
   
    
      footer {
            height: 45rem;
      }
      
      #footer-logo {
            width: 20rem;
            height: 100%;
      
            margin-top: 4.375rem;
      }
      
      
      #info {
            width: 13.25rem;
            height: 8.25rem;
      }
      
      #icons{
            height: 1.6875rem;
            width: 6.5625rem;
      }
      
      #contact-form {
            /* display: block; */
            margin-top: 12.5rem;
   
            grid-row: 1/3;
      }
   
      #contact-form input {
         width: 20.4rem;
      }
   
   #send_footer {
         border-radius: 40px;
         background-color: #fff;
         align-items: center;
         font-style: italic;
   
         cursor: pointer;
         padding: 10px;
         padding-left: 20px;
         padding-right: 20px;
   }
   
   
   #send_footer:hover {
         box-shadow: inset 0px -50px 0px 0px #FFC738;
         transition:all .8s ease;
   }
   
   #send_footer span {
         color: #110F40;
         margin: 10px;
   }
   
   #info-con {
         color: #fff;
         grid-column: 2/8;
         margin-left: 10px;
   }
   
   #info-con h3 {
         font-weight: 700;
         font-style: normal;
         margin-bottom: 20px;
   }
   
   #info-con span {
         margin-bottom: 15px;
   }
   
   #sm-icons {
         display: flex;
         height: 25px;
   
         grid-column: 2/4;
         margin-left: 10px;
         margin-top: 0px;
   }
   
   #sm-icons img {
         margin-right: 10px;
   }
   
   #ver-line {
         grid-column: 2/12;
         border-bottom: solid 1px #fff;
         
         margin-top: 30px;
         margin-bottom: 30px;
   }
   
   #ver-line span {
         color: #fff;
         font-size: 15px;
   
         padding-bottom: 20px;
   }

   .gallery-wrapper{
      flex-direction: column;
      height: 100vh;
    }
    
    .gallery-item:hover {
      flex-basis: 100%;
    }
   
 
 
 }
 
 
 @media screen and (min-width: 1920px) { 
    header {
          height: 110px;
    }
 
    #main-nav {
          height: 110px;
    }
 
    #burger-con {display: none;}
 
    #main-logo {
          height: 130px;
          width: 160px;
    }
 
 
    #banner-divider{
      height: 192px;
    }


    footer {
    height: 45rem;;
    background-color: #110F3D;
    }
    
    #footer-logo {
          width: 20rem;
          height: 100%;
    
          margin-top: 70px;
    }
    
    
    #info {
          width: 212px;
          height: 132px;
    }
    
    #icons{
          height: 27px;
          width: 105px;
    }
    
    #contact-form {
          /* display: block; */
          margin-top: 200px;
 
          grid-row: 1/3;
    }
    
    #cont-f-1, #cont-f-2 {
          height: 30px;
          width: 232px;
          margin-bottom: 30px;
    }
    
    #cont-f-4, #cont-f-3 {
          height: 60px;
          width: 484px;
    }
    
    #submit-button {
          height: 30px;
          width: 100px;
    }

    footer {
      height: 45rem;
}

#footer-logo {
      width: 20rem;
      height: 100%;

      margin-top: 4.375rem;
}


#info {
      width: 13.25rem;
      height: 8.25rem;
}

#icons{
      height: 1.6875rem;
      width: 6.5625rem;
}

#contact-form {
      /* display: block; */
      margin-top: 12.5rem;

      grid-row: 1/3;
}

#contact-form input {
   width: 20.4rem;
}

#send_footer {
   border-radius: 40px;
   background-color: #fff;
   align-items: center;
   font-style: italic;

   cursor: pointer;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
}


#send_footer:hover {
   box-shadow: inset 0px -50px 0px 0px #FFC738;
   transition:all .8s ease;
}

#send_footer span {
   color: #110F40;
   margin: 10px;
}

#info-con {
   color: #fff;
   grid-column: 2/7;
   margin-left: 10px;
}

#info-con h3 {
   font-weight: 700;
   font-style: normal;
   margin-bottom: 20px;
}

#info-con span {
   margin-bottom: 15px;
}

#sm-icons {
   display: flex;
   height: 25px;

   grid-column: 2/4;
   margin-left: 10px;
   margin-top: 20px;
}

#sm-icons img {
   margin-right: 10px;
}

#ver-line {
   grid-column: 2/12;
   border-bottom: solid 1px #fff;
   
   margin-top: 30px;
   margin-bottom: 30px;
}

#ver-line span {
   color: #fff;
   font-size: 15px;

   padding-bottom: 20px;
}

.gallery-wrapper{
   flex-direction: column;
   height: 100vh;
 }
 
 .gallery-item:hover {
   flex-basis: 100%;
 }
    
 
 }